extends personal-menu

block block_visitors
    .tab-content.shadow-lg.p-3.mb-5.bg-white.rounded
        #div-dashboard
    //        .card
    //            .card-header
    //
    //p
    //    button.btn.btn-primary.btn-block
    //        |Block level button
    //    <button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
    //    a.btn.btn-primary(data-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample')
    //        | Link with href
    //    button.btn.btn-primary(type='button', data-toggle='collapse', data-target='#collapseExample', aria-expanded='false', aria-controls='collapseExample')
    //        | Button with data-target
    //#collapseExample.collapse
    //    .card.card-body
    //        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.

    //+d_event('dfg')
    //ul.list-group
    //    li.list-group-item Cras justo odio
    //        button.btn ass
    //            li.list-group-item.list-group-item-info Dapibus ac facilisis in
    //                button.btn.btn-primary ass
    //                table
    //                    tr
    //                        th #
    //                        th First
    //                        th Last
    //                        th Handle
    //                    tr
    //                        th #
    //                        th First
    //                        th Last
    //                        th Handle
    //
    //            li.list-group-item Morbi leo risus
    //            li.list-group-item Porta ac consectetur ac
    //            li.list-group-item.active Vestibulum at eros
