extends personal-menu

block block_visitors
    script.
        function createDateElement(date) {
            var dateEvent = document.getElementById('templateDateEvent').cloneNode(true).innerHTML;
            var elementId = moment(date.date).format('DD/MM/YYYY')
            dateEvent = dateEvent.replace(/date-event/gi, elementId);
            dateEvent = dateEvent.replace(/accordionDate/gi, 'accordionID' + elementId);
            document.getElementById('div-dashboard').innerHTML += dateEvent;
            return document.getElementById('accordionID' + elementId);
        }
        function createTimeElement(accordionId, timeData) {
            var timeEvent = document.getElementById('templateTimeEvent').cloneNode(true).innerHTML;
            var elementId = accordionId + timeData.time;
            timeEvent = timeEvent.replace(/headingTimeEvent/gi, 'headID' + elementId);
            timeEvent = timeEvent.replace(/collapseTimeEvent/gi, 'collapseID' + elementId);
            timeEvent = timeEvent.replace(/accordionDate/gi, accordionId);
            timeEvent = timeEvent.replace(/templateTimeEvent/gi, 'templateTimeEvent' + elementId);
            timeEvent = timeEvent.replace(/UlvisitorsList/gi, 'visitorsList' + elementId);
            timeEvent = timeEvent.replace(/JSONEvent/gi, 'visitorsList' + elementId);

            // timeEvent = timeEvent.replace(/time-event/gi, timeData.time);
            // timeEvent = timeEvent.replace(/type-event/gi, timeData.type);
            // timeEvent = timeEvent.replace(/visitors/gi, timeData.number);

            document.getElementById(accordionId).innerHTML += timeEvent;
            console.log('visitorsList' + elementId)
            return document.getElementById('visitorsList' + elementId);
        }
        function createVisitorElement(visitorsListId, visitorData) {
            var visitor = document.getElementById('templateVisitor').cloneNode(true).innerHTML;
            visitor = visitor.replace(/dataVisitorName/gi, visitorData.name);
            visitor = visitor.replace(/dataEmail/gi, visitorData.email);
            visitor = visitor.replace(/dataEventID/gi, visitorData.eventId);
            document.getElementById(visitorsListId).innerHTML += visitor;
        }

        function makeVisitorsList(signedVisitorsList) {
            var visitorsField = document.getElementById('div-dashboard');
            visitorsField.innerHTML = '';
            if (typeof signedVisitorsList === "object") {
                signedVisitorsList.forEach(function (dateEvent, index, signedVisitorsList) {
                    var dateElement = createDateElement(dateEvent);
                    dateEvent.appointments.forEach(function (timeEvent, index, dateEvent) {
                        var timeElement = createTimeElement(dateElement.id, timeEvent);
                        console.log(timeElement);
                        var id=timeEvent.eventId;
                        timeEvent.visitors.forEach(function (visitor, index, time) {
                            console.log(visitor);
                            console.log(timeElement);
                            createVisitorElement(timeElement.id,
                                {name: visitor.name, email: visitor.email, eventId: id})
                        });
                    });
                });
            }
            $('.cancel-visitor').click(function () {
                console.log(this);
            })
            $('.removeEvent').click(function () {
                console.log(this);
            })
            $('.rescheduleEvent').click(function () {
                console.log(this);
            })
        }
        $(document).ready(function () {
            var index = 0;
            var indexT = 0;
            $('#tst').click(function () {

                var dateEvent = createDateElement(index);
                var timeEvent2 = createTimeElement(dateEvent.id, indexT);
                createVisitorElement(timeEvent2.id, {name: 'vasya', email: 'vp@gdfg.df', eventId: 1});
                createVisitorElement(timeEvent2.id, {name: 'vasy22a', email: '22vp@gdfg.df', eventId: 22});

                indexT++;
                index++;


                // console.log(timeCard);
                $('.cancel-visitor').click(function () {
                    console.log(this);
                })
                $('.removeEvent').click(function () {
                    console.log(this);
                })
                $('.rescheduleEvent').click(function () {
                    console.log(this);
                })
            });
        })


    .tab-content.shadow-lg.p-3.mb-5.bg-white.rounded
        #div-dashboard
    //================== visitors page templates =========================
    //--- template date -----------------------------
    span(hidden) template
        #templateDateEvent
            .shadow-lg.p-3.mb-5.bg-white.rounded
                strong date-event
                hr
                #accordionDate.accordion
    //--- template time -----------------------------
    span(hidden) template
        #templateTimeEvent
            .card
                #headingTimeEvent.card-header( data-toggle='collapse', data-target='#collapseTimeEvent', aria-controls='collapseTimeEvent')
                    .d-flex.bd-highlight
                        .p-2.flex-fill time-event
                        .p-2.flex-fill
                            strong type-event
                        .p-2.flex-fill visitors
                        .p-2.navbar.navbar-light
                            .navbar-toggler-icon
                #collapseTimeEvent.collapse(aria-labelledby='headingTimeEvent', data-parent='#accordionDate')
                    .card-body
                        .d-flex.bd-highlight
                            .p-2.flex-shrink-1.align-self-center
                                .btn-group-vertical
                                    a.rescheduleEvent.btn.btn-outline-info(data-event='JSONEvent')
                                        | Перепланировать
                                    a.removeEvent.btn.btn-outline-danger(data-event='JSONEvent')
                                        | Отменить
                            .p-2.w-100
                                ul#UlvisitorsList.list-group.list-group-flush
    //--- template visitor -----------------------------
    span(hidden) template
        #templateVisitor
            li.list-group-item.d-flex.justify-content-between.align-items-center
                span dataVisitorName
                span dataEmail
                a.cancel-visitor.btn.btn-outline-danger.badge(data-eventId='dataEventID',data-visitor='dataVisitorName', data-email='dataEmail' ) Х


    //.tab-content.s     hadow-lg.p-3.mb-5.bg-white.rounded
    //    #templateDateEvent1
    //        .tab-content.shadow-lg.p-3.mb-5.bg-white.rounded
    //            strong date-event
    //            hr
    //            #accordionExample.accordion
    //
    //                .card#tmpCard
    //                    #headingOne.card-header( data-toggle='collapse', data-target='#collapseOne', aria-controls='collapseOne')
    //                        .d-flex.bd-highlight
    //                            .p-2.flex-fill 11:00-12:32
    //                            .p-2.flex-fill
    //                                strong Rfzrbyкуещцлзукщегзпцукепu
    //                            .p-2.flex-fill Участников 5 из 10
    //                            .p-2.navbar.navbar-light
    //                                .navbar-toggler-icon
    //                    #collapseOne.collapse(aria-labelledby='headingOne', data-parent='#accordionExample')
    //                        .card-body
    //                            .d-flex.bd-highlight
    //                                .p-2.flex-shrink-1.align-self-center
    //                                    .btn-group-vertical
    //                                        a.btn.btn-outline-info
    //                                            | Перепланировать
    //                                        a.btn.btn-outline-danger
    //                                            | Отменить
    //                                .p-2.w-100
    //                                    ul.list-group.list-group-flush
    //                                        li.list-group-item.d-flex.justify-content-between.align-items-center
    //                                            span Cras justo odio
    //                                            span Cras justo odio
    //                                            a.btn.btn-outline-danger.badge Х
    //                                        li.list-group-item.d-flex.justify-content-between.align-items-center
    //                                            span Cras justo odio
    //                                            span Cras justo odio
    //                                            a.btn.btn-outline-danger.badge Х
    //                                        li.list-group-item.d-flex.justify-content-between.align-items-center
    //                                            span Cras justo odio
    //                                            span Cras justo odio
    //                                            a.btn.btn-outline-danger.badge Х
    //                                //ul.list-group.list-group-flush
    //                                //    li.list-group-item.d-flex.justify-content-between.align-items-center
    //                                //        span Cras justo odio
    //                                //        span Cras justo odio
    //                                //        a.btn.btn-outline-danger.badge Х
    //                                //    li.list-group-item.d-flex.justify-content-between.align-items-center
    //                                //        span Cras justo odio
    //                                //        span Cras justo odio
    //                                //        a.btn.btn-outline-danger.badge Х
    //                                //    li.list-group-item.d-flex.justify-content-between.align-items-center
    //                                //        span Cras justo odio
    //                                //        span Cras justo odio
    //                                //        a.btn.btn-outline-danger.badge Х
    //