extends personal-visitors
block block_patterns
    .tab-content.shadow-lg.p-3.mb-5.bg-white.rounded
        .input-group
            a(href='user/andrey')
                |user/andrey
            a.form-control.invisible
            .input-group-append
                button.btn.btn-outline-secondary(type='button').invisible
                button.btn.btn-outline-secondary(type='button') Создать шаблон
        hr
        #pattern-row.row
