doctype html
html
    head
        meta(charset='UTF-8')
        title  Holandly - Visitor
        style.
            .branding {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 5px;
                /*background: #666A73;*/
                background: #6e6fff;
            }
            .branding .badge {
                position: absolute;
                overflow: hidden;
                top: 0;
                right: 0;
                width: 150px;
                height: 150px;
            }
            .branding .badge a {
                display: block;
                box-sizing: border-box;
                padding: 95px 0 5px 0;
                font-size: 12px;
                line-height: 1.2;
                text-align: center;
                /*background-color: #666A73;*/
                background-color: #6e6fff;
                color: #fff;
                text-decoration: none;
                -webkit-transform-origin: center top;
                transform-origin: center top;
                -webkit-transform: rotate(45deg) translate(35%, -86%);
                transform: rotate(45deg) translate(35%, -86%);
                transition: background-color 0.2s;
            }
    body
        #page-region
            .branding
                .badge
                    a(href='#')
                        div Powered
                        div by Holateam 4
            div
                h2.text-center Andrey
