html {
    font-size: calc(10px + 0.5vw);
    min-width: 650px;

}
body{
    background-color: #d2d2d2;
    min-width: 650px;
    margin: 1%;
}
.ico{
    height: 2rem;
}

/*#calendar {*/
    /*max-width: 900px;*/
    /*margin: 40px auto;*/
/*}*/